


@font-face {
    font-family: 'FT88-Regular';
    src: url(FT88-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aktiv Grotesk', sans-serif;
    height:100vh;
    overflow: hidden;
}

#container {
    display: flex;
    gap: 1vw;
    padding: 2vh 2vw;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 0;
    background-image: url(BG_basic1.png);
    background-size: cover;
}

#workspace {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex: 1;
    max-width: 70vw;
}


#sidebar {
    width: 26vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

#top-bar,
#bottom-bar {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;

    background: white;
    background-image: linear-gradient(to bottom right, white, aliceblue);
    border: .08vw solid black;
    border-radius: 0px;

    box-shadow: 0 .2vw 1vw rgba(0,0,0,0.5);
        inset: 0 0 2vw white;

    justify-content: center;
}

#preview {
    position: relative;
    flex: 1;
    aspect-ratio: 2 / 1; /* keeps your 1100x550 proportion */
    background: white;
    border: .08vw solid black;
    box-shadow: 0 .2vw 1vw rgba(0,0,0,0.5);
    overflow: hidden;
}


#svg-panel {
    flex: 1; /* take remaining space between CLEAR and EXPORT */
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 1vw;

    background: white;
    background-image: linear-gradient(to bottom right, white, aliceblue);
    border: .08vw solid black;
    border-radius: 0px;

    box-shadow: 0 .2vw 1vw rgba(0,0,0,0.5);
        inset: 0 0 2vw white;

     overflow-y: hidden;
}

#svg-panel label {
    padding: 1vw;
    font-size: 1vw;
    text-align: center;
}

#svg-list {
    flex: 1;
    overflow-y: hidden;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3vw, 1fr));
    gap: 0.3vw;
    place-items: center;

    padding-right: 4px; /* space for scrollbar */
    overflow-y: scroll;
}

.svg-thumb {
    width: 2vw;
    height: 2vw;

    object-fit: contain;
    display: block;
    cursor: pointer;
}
#text-layer {
    position: absolute;
    inset: 0;

    font-family: 'big-caslon-fb', serif;
    font-size: 20vw;
    font-variation-settings: "wght" 400;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

#object-layer {
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none; /* ← MUST be none */
}

.draggable-svg {
    position: absolute;
    width: 120vw;
    cursor: grab;
    display: block;
    max-width: none;
    pointer-events: auto;
    transform-origin: center center;
}

.draggable-svg:active {
    cursor: grabbing;
}

.draggable-svg.selected {
    outline: .1vw dashed black;
    outline-offset: .5vw;
}

#backgrounds {
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

#backgrounds button {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

#backgrounds button[data-theme="theme-1"] {
  background: aliceblue;
}

#backgrounds button[data-theme="theme-2"] {
    background: floralwhite;
}

#backgrounds button[data-theme="theme-3"] {
    background: hotpink;
}

#backgrounds button[data-theme="theme-4"] {
    background: mediumvioletred;
}

#backgrounds button[data-theme="theme-5"] {
    background: darkslateblue;
}

#backgrounds button[data-theme="theme-6"] {
    background: slateblue;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#svg-controls {
    display: flex;
    gap: 2vw;
    align-items: center;
}

#svg-controls label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
}

#controls label,
#svg-controls label {
    display: flex;
    flex-direction: row;
    gap: .3vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1vw;
}

input[type="range"] {
    appearance: none;
    background: transparent;
    width: 8vw;
    cursor: pointer;
    padding-left: 1vw;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: black;
    height: .4vw;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    margin-top: -1vw;
    width: 1.4vw;
    height: 1.4vw;
    background: black;
    border-radius: 50%;
}

input[type="range"]::-moz-range-track {
    background: black;
    height: .5vw;
}

input[type="range"]::-moz-range-thumb {
    width: 1.4vw;
    height: 1.4vw;
    background: black;
    border-radius: 50%;
    border: none;
}

button {
    padding: 1vw 1.5vw;
    cursor: pointer;
    border: .08vw solid black;
    border-radius: 0px;
    background: white;
    font-family: 'aktiv-grotesk', sans-serif;
}

#clear-canvas,
#export-pdf {
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 1vw;
    align-self: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

button:hover {
    box-shadow: 0 .2vw 1vw rgba(0,0,0,0.5);
    transform: translateY(.5vh);
}


@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.svg-thumb:hover {
    animation: wiggle 0.5s;
}

/* SVG COLOR TOGGLE*/

img.svg-white {
    filter: invert(1);
}


#category-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    font-size: 1vw;
}

#categrory-prev,
#category-next {
    cursor: pointer;
    font-size: 1vw;
}

/* THEME TOGGLE*/

/*  THEME OVERRIDES*/

body.theme-2 #container {
    background-image: url(BG_basic2.png);
    background-size: cover;
}
body.theme-2 #svg-panel,
body.theme-2 #top-bar,
body.theme-2 #bottom-bar {
    font-family: 'big-caslon-fb', serif;
    background: lightgray;
    background-image: linear-gradient(to bottom right, ivory, white);
    border-radius: 1vw;
    border: 0.08vw solid black;
}
body.theme-2 button,
body.theme-2 #preview{
    font-family: 'big-caslon-fb', serif;
    background-color: white;
    border-color: white;
    border-radius: 1vw;
    border: 0.08vw solid black;
} 

body.theme-3 #container {
    background-color: rgb(0, 191, 255);
    background-image: url(BG_pink2.png );
    background-size: cover;
}
body.theme-3 #svg-panel,
body.theme-3 #top-bar,
body.theme-3 #bottom-bar {
    background-image:linear-gradient(to bottom left, mistyrose, hotpink);
    border-color: black;
    border-radius: 1vw;
    border: 0.08vw solid rgb(0, 0, 0);
}
body.theme-3 button,
body.theme-3 #preview{
    background-color: white;
    border-color: white;
    border-radius: 1vw;
    border: 0.08vw solid rgb(0, 0, 0);
}


body.theme-4 #container {
    background-color: rgb(255, 98, 174);
    background-image: url(BG_pink1.png);
    background-size: cover;
}

body.theme-4 #svg-panel,
body.theme-4 #top-bar,
body.theme-4 #bottom-bar {
    background: hotpink;
    border-color: hotpink;
    border: 0.08vw solid black;
}
body.theme-4 button,
body.theme-4 #preview{
    background-color: white;
    border-color: white;
    border: 0.08vw solid black;
}

body.theme-5 #container {
    background-image: url(universe.jpeg);
    background-size: cover;
}
body.theme-5 #svg-panel,
body.theme-5 #top-bar,
body.theme-5 #bottom-bar {
    background: darkslateblue;
    border-color: darkslateblue;
    border-radius: 1vw;
    border: 0.08vw solid black;
}
body.theme-5 button,
body.theme-5 #preview{
    background-color: white;
    border-color: white;
    border-radius: 1vw;
    border: 0.08vw solid black;
}
